.blogs .card{
    border: 0;
    align-items: left;
}
.blogs .card-header{
    border: 0;
    background-color: transparent;


}

.blogs .card:hover{
    background-image: linear-gradient(75deg, #19D3AE,#0fcfec);
    color: #fff !important;
    transition:  .1s  all ease-in-out !important;
}
.blogs .card:hover .card-body{
    background-image: url(../../../../images/quote.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    color: #fff !important;
    transition:  .5s  all ease-in-out !important;
}
.blogs .card:hover h6,
.blogs .card:hover p
{
    color: #fff !important;

}
.blogs .card:hover img{
    display: none;
}
.blogs .card:hover p
{
    visibility: hidden;

}
